* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.gallery-container {
    overflow: hidden;
    position: relative;
    border: 2px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    margin-left: 20px;
}

.slider {
    display: flex;
    width: 100%;
    margin-right: -10px;
}

.slide {
    flex: 0 0 33.3333%;
    width: 100%;
    margin-right: 5px;
    padding-left: 60px;
}

.arrow {
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.page {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: transparent;
    border: 2px solid #ddd;
    border-radius: 8px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page.active {
    background-color: #ddd;
    color: #555;
    border-color: #555;
}

/*Адаптация для телефонов*/

@media only screen and (max-width: 600px) {
    .slide {
        flex: 0 0 100%;
        padding-left: 0;
    }
}
