*{
    padding: 0;
    margin: 0;
}
h2{
    color: #42a934;
    font-family: "Arial Black", serif;
}
a, p{
    color: #45983c;
    font-family: "Arial Black", serif;
}
label{
    color: #45983c;
    font-family: "Arial Black", serif;
}
input.submit{
    width: 199px;
    height: 35px;
}
input.submit, .value{
    color: #4f1988;
    font-size: 20px;
    font-family: "Arial Black", serif;
}
.logo{
    border-radius: 30px;
    width: 100px;
}

.logo:hover{
    border-radius: 10px;
}
.first{
    background-color: #00cdc8;
}
body {
    background-color: #181220;
}
.second{
    background-color: deeppink;
}

.url_btn:hover{
    color: rebeccapurple;
    transition: 0.1s ease-in-out;
}
.footer-bg{
    background-color: #121820;
    margin: 50px 0 0 0;
}
.footer-bg p{
    color: aqua;
}

.header_wrap{
    box-shadow: 4px 4px 30px 1px rgba(255, 0, 214, 0.9);
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #121820;
    height: 97px;
    margin-bottom: 50px;


}

.site-title {
    font-size: 30px;
    margin-left: 10px;
    color: #6c1ca1;
    width: 500px;
}


.nav-urls li{
    padding-bottom: 60px;
    margin-left: 100px;


}

.nav-urls li a{
    text-decoration: none;
    margin-right: 100px;
    color: #ff00b7;
    font-size: 25px;

}
.nav-urls{
    display: flex;
    list-style: none;
    width: 800px;

}


nav ul {
    list-style: none;

}

nav ol{
    text-align: left;
    list-style: none;
    justify-content: center;
}

nav li {
    text-align: left;
    justify-content: center;
}


nav{
    width: 960px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

}
nav table caption{
    color: #6c1ca1;
    background-color: #00cdc8;
}

nav table{
    border-style: solid;
    border-color: #6c1ca1;
    justify-content: center;
    text-align: left;
}
.table {
    background-color: cornflowerblue;
    border-style: solid;
    border-color: #6c1ca1;
}
.kitty-footer{
    justify-content: space-between;
    display: flex;

}
.kitty-footer img{
    width: 250px;
}

